@import url(https://fonts.googleapis.com/css?family=Kanit|Orbitron);
body {
  font-family: "Kanit", sans-serif;
  font-weight: normal;
  background: whitesmoke;
  color: grey; }

h1.appHeading {
  font-family: "Orbitron", serif;
  text-shadow: 0.05em 0.05em black; }

h2, h3, h4, h5, h6 {
  font-family: "Kanit", sans-serif;
  font-weight: normal; }

textarea.editor {
  width: 35vw; }
