@import url(https://fonts.googleapis.com/css?family=Kanit|Orbitron);

// Font Variables
$orbitron: 'Orbitron', serif;   
$kanit: 'Kanit', sans-serif;

body {
  margin: 4%;
  min-width: 345px;
  font-size: 1vw;
  font-family: $kanit;
  font-weight: normal;
  background: whitesmoke;
  color: grey;
}

h1 {
  font-family: $orbitron;
  font-size: 1vw;
  text-shadow: 0.05em 0.05em black;
}

h2, h3, h4, h5, h6 {
  font-family: $kanit;
  font-weight: normal;
}

.textContainer {
  line-height: 1.75em;
  .appHeading {
    color: #67bacf;
  }
  textarea, .rendered {
    height: 30vh;
    width: 55vw;
    min-height: 12em;
    padding: 0.25em;
    border: 1px solid grey;
    color: grey;
  }
}


@media (max-width: 700px) {
  .renderedMarkdown {
    margin-top: 4em;
    border: thin;
    border: 1px solid grey;
  }
}
