@import url(https://fonts.googleapis.com/css?family=Kanit|Orbitron);

// Font Variables
$orbitron: 'Orbitron', serif;   
$kanit: 'Kanit', sans-serif;

body {
  font-family: $kanit;
  font-weight: normal;
  background: whitesmoke;
  color: grey;
}

h1.appHeading {
  font-family: $orbitron;
  text-shadow: 0.05em 0.05em black;
}

h2, h3, h4, h5, h6 {
  font-family: $kanit;
  font-weight: normal;
}

textarea.editor {
  width: 35vw
}
